<div class="cloumn is-8">
  <article class="message">
    <div class="message-header">
      <p>One more step</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      Your plane will fly from <b><%= @flight.from_airport.airport_name %></b>
      to <b><%= @flight.to_airport.airport_name %></b>
      at <b><%= @flight.start_datetime.strftime('%Y-%m-%d %H:%M:00') %></b>. <br>
      The plane will take <b><%= @flight.flight_duration %></b> hour(s).    </div>
  </article>

  <h1 class="title">Please complete information of passenger(s)</h1>
  <table class="table">
    <tr>
      <th>Full name</th>
      <th>Email</th>
    </tr>
    <%= form_with model: @booking, url: bookings_path, html: {onsubmit: "return validateForm()", name: 'myForm'} do |f| %>
      <%= f.fields_for :passengers, @booking.passengers do |p| %>
        <tr>
          <td><%= p.text_field :name, placeholder: 'What is passenger name?' %></td>
          <td><%= p.email_field :email, placeholder: 'example@email.com' %></td>
        </tr>
      <% end %>
      <%= hidden_field_tag 'booking[flight_id]', @flight.id %>
      <tr>
        <td><%= f.submit 'Book', class: 'button is-link' %></td>
      </tr>
    <% end %>


  </table>

</div>
